<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.email %></h1>
    <a href="/logout">LOG OUT</a>
    <a href="/new">CREATE NEW MESSAGE</a>
    <% } else { %>
    <h1>please log in</h1>
    <form action="/login" method="POST">
      <label for="email">Email</label>
      <input
        id="email"
        name="email"
        placeholder="email@email.com"
        type="email"
      />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button>Log In</button>
    </form>
    <%}%>
    <!-- TODO: display all messages here -->
    <ul>
      <% messages.map((message) => { %>
      <li>
        <% if (currentUser) {%>
        <p>Author: <%= message.first_name %> <%= message.last_name %></p>
        <p>Date: <%= message.created_date %></p>
        <% } %>
        <p>Text: <%= message.text %></p>
        <!-- <a href="/messages/<%= message.id %>">
          <button>View Full Message</button>
        </a> -->
      </li>
      <% })%>
    </ul>
  </body>
</html>
